<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/icons/favicon.png">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="web-container">
        <div class="top">
            <b class="title1">Hello, User</b>
            <div class="logout">
                <b class="logout-title">Log Out</b>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>