<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/css/footer.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap"/>
</head>
<body>
    <div class="web-container">
        <div class="footer">
            <img class="rolsa-logo1" alt="Rolsa Logo" src="/static/assets/logos/rolsalogo.png">

            <div class="footer-links">
                <div class="link-list">
                    <a href="/" class="primary-button">Home</a>
                    <a href="/products" class="button">Products</a>
                    <a href="{{ url_for('home') }}#reviews" class="button">Reviews</a>
                    <a href="{{ url_for('home') }}#services" class="button">Our Services</a>
                </div>
                <div class="link-list">
                    <a href="/products" class="primary-button">Products</a>
                    <a href="/products?product=Solar panels" class="button">Solar panels</a>
                    <a href="/products?product=EV charging stations" class="button">Electric vehicle charging</a>
                    <a href="/products?product=Smart home energy management" class="button">Smart home energy</a>
                </div>
                <div class="link-list">
                    <a href="/" class="primary-button">Other</a>
                    <a href="/schedule_page" class="button">Contact Us</a>
                    <a href="/about" class="button">About Us</a>
                    <a href="/dashboard" class="button">Energy Usage</a>
                </div>
            </div>

            <div class="social-links">
                <a href="https://www.facebook.com" target="_blank">
                    <img class="social-icon" alt="Facebook" src="/static/assets/buttons/facebook.png">
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <img class="social-icon" alt="LinkedIn" src="/static/assets/buttons/linkedin.png">
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <img class="social-icon" alt="YouTube" src="/static/assets/buttons/youtube.png">
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img class="social-icon" alt="Instagram" src="/static/assets/buttons/instagram.png">
                </a>
            </div>

            <div class="legal-links">
                <a href="/legal" class="link-button">Legal</a>
                <a href="/privacy-policy" class="link-button">Privacy Policy</a>
            </div>

            <div class="divider"></div>
        </div>
    </div>
</body>
</html>
